{% extends "base.html" %}

{% block content %}
<form action="/events" method="post">
    <label for="event_name">Event Name</label>
    <input type="text" name="event_name" id="event_name">
    <label for="event_date">Event Date</label>
    <input type="date" name="event_date" id="event_date">
    <label for="guest_num">Number of Guests</label>
    <input type="number" name="guest_num" id="guest_num">
    <label for="guest_num">Event Location</label>
    <input type="text" name="event_location" id="event_location">
    <label for="description">Event Description</label>
    <textarea name="description" id="description" rows="2" cols="30"></textarea>
    <input type="submit" value="Add Event">
</form>

    {% for event in event_list %}
    <p> 
        {{ event.date }} {{ event.event_name }} {{ event.guest_num }} {{ event.room_location }} {{ event.description }} 
    </p>
{% endfor %}
{% endblock %}
    
</body>
</html>